@using ZGW.GMS.Core.Mvc.Html.Controls
@model ZGW.GMS.Crm.BusinessEntity.Company
@{
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";
}
@section PageSpecificStyleSheetIncludes{
    <style type="text/css">
 
        
    </style>
}
@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}
@section MainContent{
    <div class="portlet-body form-horizontal form-bordered form-row-stripped">
        <div class="row-fluid">

            <div class="control-group">
                <label class="control-label"><span class="required">*</span>公司名称：</label>
                <div class="controls">
                    @if (Model.ID == 0)
                    {
                        @Html.TextBoxFor(m => m.name, new { @class = "m-wrap small" })
                        <span class="help-inline">@Html.ValidationMessageFor(m => m.name)</span>
                    }
                    else
                    {
                        @Model.name
                    }
                </div>
            </div>


            <div class="control-group">
                <label class="control-label"><span class="required">*</span>公司法人：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.legalPerson, new { @class = "m-wrap small" })

                </div>
            </div>

            <div class="control-group">
                <label class="control-label">联系电话：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.linkPhone, new { @class = "m-wrap small" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.linkPhone)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">地址：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.officeAddress, new { @class = "m-wrap small" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.officeAddress)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">注册号：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.registerCode, new { @class = "m-wrap small" })
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">用电量：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.electricityConsumption)
                </div>
            </div>

        </div>
    </div>
}

